@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

.headerStyle{
  font-family: myFirstFont;
}

body{
  background-color: #030712;
  color: white;
}