@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face{
  font-family: 'goldensign';
  src: url('./assets/GoldenSignature.otf');
}


body{
  background-color: #030712;
  color: white;
}